@model Media_Gate.Models.Custom_Price

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
@using Media_Gate.Models
@using (Ajax.BeginForm("AddVideoCustom", new AjaxOptions { UpdateTargetId = "VideoType", HttpMethod = "Post", InsertionMode = InsertionMode.Replace }))
{
    @Html.DropDownList("id", new SelectList(new DB().video_type,"ID","Name"), htmlAttributes: new { @class = "form-control" })
    <br />
    <input id="Submit1" type="submit" value="Add Video Type" />
    <br />
    <div id="VideoType">
        <table class="table">
            <tr>
                <th>
                    Video Type
                </th>
            </tr>
            @if (Session["VideoType"] != null)
            {
                foreach (var item in Session["VideoType"] as List<video_type>)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                    </tr>
                }
            }
        </table>

    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Custom Price</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.DateOfDeadLine, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateOfDeadLine, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateOfDeadLine, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Contact, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Contact, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Other, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Other, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Other, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">User Name</label> 
           <div class="col-md-10">
                @Html.DropDownList("UsersID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UsersID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    <table class="table">
        <tr>
            <th>
                Video Tyep
            </th>
        </tr>
        @foreach (var item in Model.custom_videos)
        {
            <tr>
                <td>
                    @item.video_type.Name
                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteVideo", new { @id=item.ID,@Cusid=Model.ID})
                </td>
            </tr>
        }
    </table>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>