@model Media_Gate.Models.Content

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Content</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<div>
    <h4> Images </h4>
    <br />
    @foreach (string item in Directory.GetFiles(Server.MapPath("~/Uploads/Content/Img"), Model.ID + "*"))
    {
        string name = Path.GetFileName(item);
        <img src="~/Uploads/Content/Img/@name" alt="" width="100" height="100" /><span>&nbsp</span>
    }
    <br />
    <h4> Videos </h4>
    <br />
    @foreach (string item in Directory.GetFiles(Server.MapPath("~/Uploads/Content/videos"), Model.ID + "*"))
    {
        string namev = Path.GetFileName(item);
        <video controls="controls" width="200" height="200">
            <source src="~/Uploads/Content/videos/@namev" type="video/mp4" />
        </video>
    }
    <br />
    <h4> Details </h4>
    <br />

    <table class="table">
        <tr>
            <th>Detail Field</th>
        </tr>
        @foreach (var item in Model.Content_Details)
        {
            <tr>
                <td>
                    @item.Detail
                </td>
            </tr>
        }
    </table>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
